@font-face {
  font-family: 'Shplkr_Prestashop_modulo';
  src:  url('../fonts/Shplkr_Prestashop_modulo.eot?w9tjo8');
  src:  url('../fonts/Shplkr_Prestashop_modulo.eot?w9tjo8#iefix') format('embedded-opentype'),
    url('../fonts/Shplkr_Prestashop_modulo.woff2?w9tjo8') format('woff2'),
    url('../fonts/Shplkr_Prestashop_modulo.ttf?w9tjo8') format('truetype'),
    url('../fonts/Shplkr_Prestashop_modulo.woff?w9tjo8') format('woff'),
    url('../fonts/Shplkr_Prestashop_modulo.svg?w9tjo8#Shplkr_Prestashop_modulo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"], [class*=" icon_"], .mi-extension {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Shplkr_Prestashop_modulo' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_Mostrar:before {
  content: "\e900";
}
.icon_Ocultar:before {
  content: "\e901";
}
.icon_Shopylinker_imagot:before {
  content: "\e9c5";
}
.icon_Shopylinker_logo:before {
  content: "\e9c6";
}
